<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for article in articles %}
    <h1>By : {{article.source.name}}</h1>
    <a target="_blank" href='{{article.url}}'><h4>{{article.title}}</h4></a>
    <p>
        <img src='{{article.urlToImage}}'>
       {{article.desc}}
    </p>
    {% endfor %}
</body>
</html>