.leftheader
{
    padding-left:1rem;
    display:inline-block;
}
.favicon
{
    float:left;
    height:100px;
}
.heading
{
    padding-top:5px;
    padding-left:10px;
    padding-bottom:0px;
    float:right;
    color:#F45A36;
    font-size:2rem;
}
header
{
    background-color:rgba(0,0,0,0.4);
}