{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>We Are The Asteroid</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/indexStyling/styles.css' %}">


  <style>
    .div1img {
      width: 100%;
    }
  </style>
</head>

<body id="top">
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="{% static 'images/index/loder.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>

  <header>

    <div class="header-area header-transparent">
      <div class="main-header">
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">

              <div class="col-xl-2 col-lg-1 col-md-1">
                <div class="logo">
                  <a href="{% url 'main:home' %}"><img style="height: 99px;" src="{% static 'images/logo.png' %}"
                      alt=""></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8">

                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="{% url 'main:home' %}">Home</a></li>
                      <li><a href="news.html">News</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3">
                <div class="header-right-btn f-right d-none d-lg-block">
                  <a href="{% url 'main:earth' %}" class="btn header-btn">
                    The Human Asteroid.
                  </a>
                </div>
              </div>

              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <main>
    <div class="slider-area slider-bg ">
      <div class="slider-active dot-style">
        <div class="single-slider d-flex align-items-center slider-height ">
          <div class="homePage">
            <video preload="auto" loop muted autoplay>
              <source src="{% static 'images/Intro Video.mp4' %}" type="video/mp4" />
            </video>

            <div class="content">
              <h1 style="color:#343a40;"><span style="color:#343a40;"> We are the </span> Asteroid.</h1>
              <p style="color:#343a40;">
                With temperatures and sea-levels on the rise, it is evident that the severity of our actions is taking a
                toll on the
                planet.<br>
                Let's take a stand and spread awareness about Climate Change.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <div class="container-fluid">
    <div class="row" style="margin: 70px auto;
  width: 1100px;">
      <div class="col-md-11">
        <h1 class="blogheading">What Is Climate Change</h1><br>
        <div class="div1">
          <p class="div1para">Climate change describes a change in the average conditions — such as temperature and
            rainfall — in a region over a long
            period of time. NASA scientists have observed Earth’s surface is warming, and many of the warmest years on
            record have
            happened in the past 20 years.
            <br><br>
          </p>
          <h1>Weather vs. Climate</h1>
          <p class="div1para">
            Weather describes the conditions outside right now in a specific place. For example, if you see that it’s
            raining
            outside right now, that’s a way to describe today’s weather. Rain, snow, wind, hurricanes, tornadoes — these
            are all
            weather events.<br><br>

            Climate, on the other hand, is more than just one or two rainy days. Climate describes the weather
            conditions
            that are
            expected in a region at a particular time of year.<br><br>

            Is it usually rainy or usually dry? Is it typically hot or typically cold? A region’s climate is determined
            by
            observing
            its weather over a period of many years—generally 30 years or more.

            So, for example, one or two weeks of rainy weather wouldn’t change the fact that Phoenix typically has a
            dry,
            desert
            climate. Even though it’s rainy right now, we still expect Phoenix to be dry because that's what is usually
            the case.
            <br><br>
          </p>
          <img class="div1img" src="{% static './images/weather-vs-climate.png' %}"><br><br>
        </div>
        <div class="div1">
          <h1>What Is Climate Change?</h1>
          <p class="div1para">
            Climate change describes a change in the average conditions — such as temperature and rainfall — in a region
            over a long
            period of time. For example, 20,000 years ago, much of the United States was covered in glaciers. In the
            United States
            today, we have a warmer climate and fewer glaciers.<br><br>

            Global climate change refers to the average long-term changes over the entire Earth. These include warming
            temperatures
            and changes in precipitation, as well as the effects of Earth’s warming, such as:<br><br>
          </p>
          <li style="color: white;">-- Rising sea levels</li>
          <li style="color: white;">-- Shrinking mountain glaciers</li>
          <li style="color: white;">-- Ice melting at a faster rate than usual in Greenland, Antarctica and the Arctic
          </li>
          <li style="color: white;">-- Changes in flower and plant blooming times.</li>
          <p class="div1para">
            <br><br>
            Earth’s climate has constantly been changing — even long before humans came into the picture. However,
            scientists have
            observed unusual changes recently. For example, Earth’s average temperature has been increasing much more
            quickly than
            they would expect over the past 150 years.
            <br><br>
            Want to know more about how we know climate change is happening? Check it all out here!
            <br><br>
          </p>
          <img class="div1img" src="{% static './images/muir-glacier-side-by-side.png' %}"><br><br>
        </div>
        <div class="div3">
          <h1 class="div3quote" style="text-align:center">" What Did You Do To Stop Climate Change? "</h1><br><br>
        </div>
        <div class="div1">
          <h1>How Much Is Earth’s Climate Changing Right Now?</h1>
          <p class="div1para">
            Some parts of Earth are warming faster than others. But on average, global air temperatures near Earth's
            surface have
            gone up about 2 degrees Fahrenheit in the past 100 years. In fact, the past five years have been the warmest
            five years
            in centuries.<br><br>

            Many people, including scientists, are concerned about this warming. As Earth’s climate continues to warm,
            the intensity
            and amount of rainfall during storms such as hurricanes is expected to increase. Droughts and heat waves are
            also
            expected to become more intense as the climate warms.<br><br>

            When the whole Earth’s temperature changes by one or two degrees, that change can have big impacts on the
            health of
            Earth's plants and animals, too.<br><br>
          </p>
          <h1>What Causes Climate Change?</h1>
          <p class="div1para">
            <br><br>
            There are lots of factors that contribute to Earth’s climate. However, scientists agree that Earth has been
            getting
            warmer in the past 50 to 100 years due to human activities.
            <br><br>
            Certain gases in Earth’s atmosphere block heat from escaping. This is called the greenhouse effect. These
            gases keep
            Earth warm like the glass in a greenhouse keeps plants warm.
            <br><br>
            Human activities — such as burning fuel to power factories, cars and buses — are changing the natural
            greenhouse. These
            changes cause the atmosphere to trap more heat than it used to, leading to a warmer Earth.
          </p>


          <h1>Does What We Do Matter?</h1>
          <br><br>
          <div class="" style="margin: 0 auto;"><iframe width="100%" height="500"
              src="https://www.youtube.com/embed/8auMIfF50Ng" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe></div>
          <p class="div1para">
            <br><br>
            Yes. When human activities create greenhouse gases, Earth warms. This matters because oceans, land, air,
            plants, animals
            and energy from the Sun all have an effect on one another. The combined effects of all these things give us
            our global
            climate. In other words, Earth’s climate functions like one big, connected system.
            <br><br>
            Thinking about things as systems means looking for how every part relates to others. NASA’s Earth observing
            satellites
            collect information about how our planet’s atmosphere, water and land are changing.
            <br><br>
            By looking at this information, scientists can observe how Earth’s systems work together. This will help us
            understand
            how small changes in one place can contribute to bigger changes in Earth’s global climate.
          </p>

        </div>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>

    <div class="footer-area">
      <div class="container">
        <div class="footer-bottom">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-xl-9 col-lg-9 ">
              <div class="footer-copy-right">
              </div>
            </div>
            <div class="col-xl-3 col-lg-3">

              <div class="footer-social f-right">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-globe"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="{% static 'js/main.js' %}"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
</body>

</html>