{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We Are The Asteroid</title>
  <link rel="shortcut icon" type="image/jpg" href="images/favicon.png" />
  <link rel="stylesheet" href="{% static './css/styles.css' %}">
  <link rel="stylesheet" href="{% static './css/header.css' %}">
  <link rel="stylesheet" href="{% static './css/navPage.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/indexStyling/styles.css' %}">

</head>
<style>
  .b-agent-demo_powered_by {
    display: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  main::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  main {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
</style>

<body>

  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="{% static 'images/index/loder.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>

  <header>

    <div class="header-area header-transparent">
      <div class="main-header">
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">

              <div class="col-xl-2 col-lg-1 col-md-1">
                <div class="logo">
                  <a href="{% url 'main:home' %}"><img style="height: 99px;" src="{% static 'images/logo.png' %}"
                      alt=""></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8">

                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="{% url 'main:home' %}">Home</a></li>
                      <li><a href="{% url 'main:child' %}">For Child</a></li>
                      <li><a href="{% url 'news:home' %}">News</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3">
                <div class="header-right-btn f-right d-none d-lg-block">
                  <a href="{% url 'main:earth' %}" class="btn header-btn">
                    The Human Asteroid.
                  </a>
                </div>
              </div>

              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>


  <iframe class="chatbotScreen" id="chatbotScreen" width="350" height="430" style="display: none;" allow="microphone;"
    src="https://console.dialogflow.com/api-client/demo/embedded/2642559c-6dfe-4bda-8083-e308f08aadbb"></iframe>

  <button class="chatbot" onclick="chatOpen()">
  </button>

  <!-- <div class="navBody">



  </div> -->
  <main>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution1.png' %}" alt="">
      <div class="content">
        <p class="year">4 Billion Years Ago</p>
        <p>It is hypothesized that several billion years ago earth was nothing but a piece
          of floating lava only to be hit by an asteroid that carried water, leading it to be cooled down
          into the planet we all know and love.
          It is believed to be the sole cause for life on <b style="color:aqua"> Our Giant Blue Rock.</b>
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution2.png' %}" alt="">
      <div class="content">
        <p class="year">400 Million Years Ago</p>
        <p>After being cooled down, Earth was found to be 3/4th submerged under water with its life consisting of marine
          life.
          <br>Life was flourishing at the time until the planet was struck by its first known Mass Extinction - <b
            style="color:#F45A36">The Ordovician–Silurian Mass Extinction,</b>
          caused by a glaciation attributed to changing sea-levels, pushing upto 85% of marine species towards
          extinction.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution3.png' %}" alt="">
      <div class="content">
        <p class="year">200 Million Years Ago</p>
        <p>With life having recovered from the devastating <b style="color:#F45A36">End Permian Mass Extinction</b>,
          land animals had taken over the rest of the planet with Dinosaurs stomping around
          and pterosaurs soaring the skies. <br>
          It seemed that life could continue flourishing until an asteroid struck Earth wiping out most of all land
          animals and eliminating upto 18% of all marine genera.
          This was the <b style="color:#F45A36">Triassic-Jussaric Mass Extinction Event</b>.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution4.png' %}" alt="">
      <div class="content">
        <p class="year">80 Million Year Ago</p>
        <p>The recent discovery of the Chicxulub Crater near Mexico has proven the theory of yet another mass-extinction
          as true.
          <br> It was theorized that yet another cosmic body had made contact with ours only to wipe out yet another
          large percentage of life leading to
          <br> an <b style="color:#DAFCFF">impact winter</b>, freezing marine life and bringing a halt to
          photosynthesis, killing off all the phytoplanktons.
          This is the most recent mass extinction event called the <b style="color:#F45A36">Cretaceous-Paleogene Mass
            Extinction</b>.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution5.png' %}" alt="">
      <div class="content">
        <p class="year">100,000 Years Ago</p>
        <p>With our early ancestors being hunter-gatherers, life flourished as mammals ruled the planet with 70% of all
          animal life consisting of mammals.<br>
          This is the time when <b style="color:#6A0902">fire was discovered</b> which caused to a domino-effect leading
          to humans getting intelligent.
          <br>
          Our superior intelligence gave us an advantage over most of the species which may have been otherwise
          physically stronger.

        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution6.png' %}" alt="">
      <div class="content">
        <p class="year">1970</p>
        <p>Unlike every other species alive or dead, us humans never chose to adapt to the planet. Instead, we made the
          planet adapt to us.
          We invented refrigerators to keep our food and drinks cold during summers, developed heaters to keep us warm
          during the winters.
          <br>
          With skyscrapers touching clouds and greed-taking over our minds, certain things ended up getting neglected.
          One of those being harmful emission which gave rise to the sea levels due to global warming.<br>
          While the previously mentioned mass-extinction events led to a huge loss of life, it was never at a rate of
          extinction as constant as it is today.
          The only difference is that this time around; <br><b style="color:#F45A36">WE ARE THE ASTEROID</b>.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution7.png' %}" alt="">
      <div class="content">
        <p class="year">2100</p>
        <p>It is said that if our ways of operating are not mended, then in a century or two, we will need further
          adaptations to continue living on what we call our home planet.<br>
          Alternatively, we could also branch out onto colonizing other planets as is suggested by many famous minds
          these days.
          Nobody knows what the future has in store for us, but climate change is one thing we should all be aware
          about.<br>
          With rising sea levels, there are islands like in <b style="color:aqua">Maldives and West of Africa that are
            at a risk of being submerged</b> by 2030.
          <br>These threats are very serious and might lead to further severe calamities such as hurricanes and
          tornadoes.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution8.png' %}" alt="">
      <div class="content">
        <p class="year">2150</p>
        <p>We believe it is about time to bring a change
          <br>
          A change, to reduce the pesky greenhouse emissions,<br>
          A change, to choose public transportation,<br>
          A change, to not waste energy,<br>
          A change to switch to renewable energy.<br>
          A change, <b>FOR THE SOCIETY OF TOMORROW</b>.
          Lest, we risk leaving behind nothing but rubble from what we called our buildings on a planet that would
          continue being inhabitable for years to come.
        </p>
      </div>
    </div>
    <div class="EarthPanel">
      <img src="{% static '/images/Evolution/Evolution9.png' %}" alt="">
      <div class="content">
        <p class="year">2200</p>
        <p>
          <br>
          A conclusion to draw from the previous mass extinctions is that LIFE ALWAYS FINDS A WAY to flourish on our
          planet.
          <br>
          Despite all the devastations, it has been through, life has still continued to grow around us.
          After multiple volcano explosions, meteor strikes, ice ages; life has never seized to exist and all of this
          suggests only one thing.<br>

        </p>
      </div>
    </div>

  </main>
  <footer>

    <div class="footer-area">
      <div class="container">
        <div class="footer-bottom">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-xl-9 col-lg-9 ">
              <div class="footer-copy-right">
              </div>
            </div>
            <div class="col-xl-3 col-lg-3">

              <div class="footer-social f-right">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-globe"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="{% static 'js/main.js' %}"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>

  <script>
    var open = 0;
    const chatbotScreen = document.getElementById('chatbotScreen');
    function chatOpen() {
      if (open == 0) {
        chatbotScreen.style.display = "block";
        open = 1;
        removeStyling();
      }
      else if (open == 1) {
        chatbotScreen.style.display = "none";
        open = 0;
      }

    }
    function removeStyling() {
      toBeHiddenPoweredBy = document.getElementById('agent-avatar');
      console.log(toBeHiddenPoweredBy);
    }

    setTimeout(function () {
      const chatCompany = document.getElementsByClassName('b-agent-demo_powered_by');
    }, 3000);
  </script>


</body>

</html>